<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="float field">
    <%= f.text_field :title, placeholder: "task name" %>
  </div>
  <div class="float field">
    <%= f.label "Start now?" %>
    <%= f.check_box :start_now, checked: true %>
  </div>

    <%#= f.label :completed %>
    <%#= f.check_box :completed %>
  
  <div class="float actions">
    <%= f.submit 'BEGIN'%>
    <%= f.submit 'ADD'%>
  </div>
<% end %>
