
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <h4>Form is invalid</h4>
    <ul>
      <% for message in @user.errors.full_messages %>
        <li><%= message %></li>
      <%end%>
    </ul>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: "name" %>
  </div><br>

  <div class="field">
    <%= f.text_field :email, placeholder: "email" %>
  </div><br>

  <div class="field">
    <%= f.password_field :password, placeholder: "password" %>
  </div><br>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "confirm password" %>
  </div><br>
  <div class="actions"><%= f.submit %></div>
<% end %>