<!DOCTYPE html>
<html>
<head>
  <title>tickl</title>
  <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%=   javascript_include_tag "application" %>
  <% if current_user %>
     <%=   javascript_include_tag "script" %>
  <% end %>
  
  <%= csrf_meta_tags %>
</head>




<body>
  
  <% flash.each do |name, message| %>
  <div id="flash-message flash-message-<%= name %>">
  <%= message %>
  </div>
  <% end %>
  
  
      
        <div id="left-sidebar">
          <div id="stripes"></div>
          <div class="icon">
            <h1>tickl</h1>
            <a href="/"><img id="icon" src="/assets/clock-icon.png"></a>
            
          </div><!--ICON-->

          <nav>
          <% if current_user %>
            <p> hello, <%= current_user.name %>!</p><br />
            <%=link_to "logout", sessions_path, method: :delete, data: { confirm: "Are you sure?" }, class: "nav" %>
            <% else %>
            <%= link_to "sign up", new_user_path, class: "nav" %><br />
            <%= link_to "login", login_path, class: "nav" %>
            <% end %>
          </nav>

        </div><!--LEFT SIDEBAR-->

      
      <main class="cf">
        <div id="container">
          <%= yield %>
        </div>

        <div id="progress_bar" class="cf">
          <ul id="bar">
          </ul>
        </div><!--PROGRESS BAR-->
      </main>
      
    <div id="sidebar-wrapper">
      <h4 id="status">you haven't got any running tasks!</h4>
      <div id="default-sidebar">
        
        <!-- <img id="default-image" src="/assets/clock-icon.png"> -->
        
      </div><!--DEFAULT SIDEBAR-->

      <div id="right-sidebar">
      </div><!--RIGHT SIDEBAR-->

    </div><!--SIDEBAR WRAPPER-->  



      

</body>
</html>
