<!DOCTYPE html>
<html>
<head>
  <title>Tickle</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>




<body>
  <div id="wrapper cf">
  <% flash.each do |name, message| %>
    <div id="flash-message flash-message-<%= name %>">
    <%= message %>
    </div>
  <% end %>

    <div id="left-sidebar">

      <a href="/"><img src="/assets/clock-icon.png" width=20></a>
      <h1>tickle</h1>
      <nav>

      <% if current_user %>
        <p> hello, <%= current_user.name %></p>
        <%=link_to "logout", sessions_path, method: :delete, data: { confirm: "Are you sure?" } %>
        <% else %>
        <%= link_to "please login", login_path %>
        <% end %>
      </nav>

      <% if @running_task %>
        <% if @running_task.working? %>
          <p>you're working on:</p>
          <p><%= link_to @running_task.title, task_path(@running_task) %></p>
        <% elsif @running_task.on_break?%>
          <p>you're on break from:</p>
          <p><%= link_to @running_task.title, task_path(@running_task) %></p>
        <% end %>
      <% end %>
    </div>

  

    <div id="container">
      <%= yield %>
    </div>

    <div class="right-sidebar">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>


    </div>


  </div>
</body>
</html>
